@model ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}

<section data-aos="fade-up" style="background-image: url(assets/images/about-backgroundrealfirst.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">RESET PASSWORD</span></p>
        <h4 class="h4-intro">RESET PASSWORD</h4>
    </div>
</section>

<section class="login-sec">
    <div class="login-div">
        <div>
            <div class="login-left">
                <h2 class="login-h2">Forget Password</h2>
                <p class="login-p">Reset Password</p>
                <p class="login-p2">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            </div>
        </div>

        <div class="login-right">
            <div class="form-heading">
                <h2 class="form-tit">Returning Customer</h2>
                <p class="form-tit2">I am a returning customer</p>
                <div asp-validation-summary="ModelOnly" class="text-danger d-flex justify-content-center"></div>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="Password" class="form-control-1" placeholder="Password *">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-control-1" placeholder="Confirm Password *">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn submit-btn">Reset password</button>
                </div>

                <input asp-for="Token" value="@Model.Token" type="hidden" />
                <input asp-for="UserId" value="@Model.UserId" type="hidden" />
            </form>
        </div>
    </div>

</section>