@model ShopVM

@foreach (var item in Model.Products)
{
    <div class="col-lg-4 col-md-6 pb-5 product-item">
        <div class="productt">
            <div class="product-image"
                 style="background-image: url(assets/images/@item.Image);">
                <div class="basket-wishlist-compare d-flex justify-content-center">
                    <div class="add-basket text-center" product-id="@item.Id">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                </div>
            </div>
            <div class="product-inf">
                <h5> <a class="productt-name" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a> </h5>
                <p><span>$</span><span class="price">@item.Price.ToString("N2")</span></p>
            </div>
        </div>
    </div>
}